################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ExpressionBuilder/obj/Debug
/ExpressionBuilder/bin/Debug
/ExpressionBuilder.ConsoleTest/obj/Debug
/ExpressionBuilder.ConsoleTest/bin/Debug
/ExpressionBuilder.Test/bin/Debug
/ExpressionBuilder.Test/obj/Debug
